<!-- newsletter -->
<script>
    document.getElementById('betaForm').addEventListener('submit', function (event) {
        event.preventDefault(); // Prevents the default form submission action
        document.getElementById('submissionMessage').style.display = 'block';
        // Here you can also add code to handle the form data,
        // like sending it to a server or processing it further
    });
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1T7QRBH9ER"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-1T7QRBH9ER');
</script>
